
@{
    ViewBag.Title = "NotEdit";
}

<h2>Не можете править</h2>

Нет прав на изменение описания.

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
