<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets async="true">
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/Web.log" layout="${activityid} ${longdate} ${message}" archiveFileName="${basedir}/logs/archives/${shortdate}/Web.${shortdate}.{##}.log" archiveEvery="Day" archiveNumbering = "Rolling" maxArchiveFiles="5" />
		<target name="logfileerror" xsi:type="File" fileName="${basedir}/logs/Web.Error.log" layout="${longdate} ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/archives/${shortdate}.Web.Error.{##}.log"  archiveEvery="Day" archiveNumbering = "Rolling" maxArchiveFiles="5" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="UnhandledException" minlevel="Trace" writeTo="logfileerror" />
	</rules>
</nlog>
